//Colors
$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);
$DarkGray: hsl(0, 0%, 55%);
$VerydarkGray: hsl(0, 0%, 41%);

//Fonts
$FonteHeader: 'Alata', sans-serif;
$FontePrincipal: 'Josefin Sans', sans-serif;